body {
    
    background: url(./img/5.jpg);
    background-size:cover;
    display: flex;
    font-style: oblique;
    color:aliceblue;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid white 1px;
    margin-top: 17px;
    
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(47, 0, 47);
}

.ball {
    position: absolute;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   background-color: red; 
}